# Config
**/custom.ini
**/*custom.ini

# Generated
package-lock.json
**/node_modules

# Logs
**/logs

# Tests
**/actions

# Zip
**/*.zip
**/*.gz

# XLSX
**/*.xls*

# Keys
**/*.pem
**/*.prv
**/*.pub

# Idz
features
notes
z_notes
